@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap");
html, body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6d6d6;
  font-family: Merriweather Sans, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h5 {
  line-height: 1.6;
  text-align: justify;
  font-weight: normal;
  font-size: 0.7rem;
  margin: 0 10px 0 20px;
}

h6 {
  line-height: 1.9;
  text-align: justify;
  font-weight: normal;
  font-size: 0.6rem;
  margin: 0 1em 0 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: #d6d6d6;
}
.container .a4-page {
  width: 210mm;
  height: 297mm;
  background: white;
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.container .a4-page .left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 32.196969697%;
  padding-top: 10px;
  background: #152437;
  align-items: center;
}
.container .a4-page .left-column h1, .container .a4-page .left-column h2, .container .a4-page .left-column h3, .container .a4-page .left-column h4, .container .a4-page .left-column h5, .container .a4-page .left-column h6 {
  color: white;
}
.container .a4-page .left-column .avatar {
  display: block;
  justify-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.container .a4-page .left-column .avatar .frame-border {
  aspect-ratio: 1;
  width: 50%;
  background: white;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .a4-page .left-column .avatar .frame-border .frame {
  aspect-ratio: 1;
  position: relative;
  width: 97%;
  height: 97%;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
}
.container .a4-page .left-column .avatar .frame-border .frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.container .a4-page .left-column .avatar .name h1 {
  margin-top: 0.4em;
  margin-bottom: 0;
}
.container .a4-page .left-column .avatar .name h2 {
  margin-top: 4px;
  margin-bottom: 0;
}
.container .a4-page .left-column .profile, .container .a4-page .left-column .contact-me, .container .a4-page .left-column .personal-skills, .container .a4-page .left-column .connect {
  width: 100%;
  display: block;
}
.container .a4-page .left-column .profile .group, .container .a4-page .left-column .contact-me .group, .container .a4-page .left-column .personal-skills .group, .container .a4-page .left-column .connect .group {
  width: 100%;
  display: flex;
  margin: 10px 0 5px 10px;
  align-items: center;
  gap: 5px;
}
.container .a4-page .left-column .profile .group .icon-border, .container .a4-page .left-column .contact-me .group .icon-border, .container .a4-page .left-column .personal-skills .group .icon-border, .container .a4-page .left-column .connect .group .icon-border {
  aspect-ratio: 1;
  width: 16%;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .a4-page .left-column .profile .group .icon-border .icon, .container .a4-page .left-column .contact-me .group .icon-border .icon, .container .a4-page .left-column .personal-skills .group .icon-border .icon, .container .a4-page .left-column .connect .group .icon-border .icon {
  width: 90%;
  height: 90%;
  background: #152437;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .a4-page .left-column .profile .group .icon-border .icon i, .container .a4-page .left-column .contact-me .group .icon-border .icon i, .container .a4-page .left-column .personal-skills .group .icon-border .icon i, .container .a4-page .left-column .connect .group .icon-border .icon i {
  color: white;
  font-size: 1.2em;
  object-fit: cover;
}
.container .a4-page .left-column .profile .group hr, .container .a4-page .left-column .contact-me .group hr, .container .a4-page .left-column .personal-skills .group hr, .container .a4-page .left-column .connect .group hr {
  flex: 1;
}
.container .a4-page .left-column .contact-me, .container .a4-page .left-column .connect {
  width: 100%;
}
.container .a4-page .left-column .contact-me .contact-me-wrapper, .container .a4-page .left-column .connect .contact-me-wrapper {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}
.container .a4-page .left-column .contact-me .contact-me-wrapper .contact-me-group, .container .a4-page .left-column .connect .contact-me-wrapper .contact-me-group {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}
.container .a4-page .left-column .contact-me .contact-me-wrapper .contact-me-group .hexagon, .container .a4-page .left-column .connect .contact-me-wrapper .contact-me-group .hexagon {
  aspect-ratio: 1;
  width: 15%;
  background: white;
  flex-shrink: 0;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .a4-page .left-column .contact-me .contact-me-wrapper .contact-me-group .hexagon i, .container .a4-page .left-column .connect .contact-me-wrapper .contact-me-group .hexagon i {
  color: #152437;
  font-size: 1em;
}
.container .a4-page .left-column .contact-me .contact-me-wrapper .contact-me-group h5, .container .a4-page .left-column .connect .contact-me-wrapper .contact-me-group h5 {
  margin: 0 0 0 5px;
}
.container .a4-page .left-column .personal-skills {
  width: 100%;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper {
  display: block;
  margin-left: 1.5rem;
  margin-right: 10px;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper .personal-skills-group {
  display: flex;
  align-items: center;
  margin-top: 0.9rem;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper .personal-skills-group .dot {
  background: white;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  flex-shrink: 0;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper .personal-skills-group h5 {
  flex: 1;
  margin-left: 0.9em;
  margin-right: 2em;
  white-space: nowrap;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper .personal-skills-group .process-container {
  flex: 0 0 90px;
  height: 0.5rem;
  background: #152437;
  border: 1px solid white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
.container .a4-page .left-column .personal-skills .personal-skills-wrapper .personal-skills-group .process-container .process-bar {
  height: 0.5rem;
  background: white;
}
.container .a4-page .right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  width: 70%;
  padding: 10px 0 10px 10px;
  background: #E8E8EA;
}
.container .a4-page .right-column h1, .container .a4-page .right-column h2, .container .a4-page .right-column h3, .container .a4-page .right-column h4, .container .a4-page .right-column h5, .container .a4-page .right-column h6 {
  color: #152437;
}
.container .a4-page .right-column h5 {
  margin: 0;
}
.container .a4-page .right-column .work-experience .group, .container .a4-page .right-column .professional-skills .group, .container .a4-page .right-column .education .group, .container .a4-page .right-column .pronciency .group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .a4-page .right-column .work-experience .group .icon-border, .container .a4-page .right-column .professional-skills .group .icon-border, .container .a4-page .right-column .education .group .icon-border, .container .a4-page .right-column .pronciency .group .icon-border {
  aspect-ratio: 1;
  width: 9%;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  background: #152437;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .a4-page .right-column .work-experience .group .icon-border .icon, .container .a4-page .right-column .professional-skills .group .icon-border .icon, .container .a4-page .right-column .education .group .icon-border .icon, .container .a4-page .right-column .pronciency .group .icon-border .icon {
  width: 90%;
  height: 90%;
  background: #E8E8EA;
  clip-path: polygon(50% 0%, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .a4-page .right-column .work-experience .group .icon-border .icon i, .container .a4-page .right-column .professional-skills .group .icon-border .icon i, .container .a4-page .right-column .education .group .icon-border .icon i, .container .a4-page .right-column .pronciency .group .icon-border .icon i {
  color: #152437;
  font-size: 1.4em;
  object-fit: cover;
}
.container .a4-page .right-column .work-experience .group hr, .container .a4-page .right-column .professional-skills .group hr, .container .a4-page .right-column .education .group hr, .container .a4-page .right-column .pronciency .group hr {
  flex: 1;
  border: 1px solid #152437;
}
.container .a4-page .right-column .work-experience .work-experience-wrapper, .container .a4-page .right-column .education .work-experience-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-left: 1.2em;
  margin-top: 1em;
}
.container .a4-page .right-column .work-experience .work-experience-wrapper .work-experience-container, .container .a4-page .right-column .education .work-experience-wrapper .work-experience-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .a4-page .right-column .work-experience .work-experience-wrapper .work-experience-container .dot, .container .a4-page .right-column .education .work-experience-wrapper .work-experience-container .dot {
  background: #152437;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  flex-shrink: 0;
}
.container .a4-page .right-column .work-experience .work-experience-wrapper h6, .container .a4-page .right-column .education .work-experience-wrapper h6 {
  margin-left: 10px;
  margin-right: 20px;
}
.container .a4-page .right-column .professional-skills, .container .a4-page .right-column .pronciency {
  width: 100%;
  padding-top: 10px;
}
.container .a4-page .right-column .professional-skills .professional-skills-container, .container .a4-page .right-column .pronciency .professional-skills-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  margin-right: 1em;
  width: 100%;
  gap: 5px;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper .personal-skills-group, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper .personal-skills-group {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper .personal-skills-group .dot, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper .personal-skills-group .dot {
  background: #152437;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  flex-shrink: 0;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper .personal-skills-group h5, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper .personal-skills-group h5 {
  flex: 1;
  margin-left: 5px;
  margin-right: 20px;
  white-space: nowrap;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper .personal-skills-group .process-container, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper .personal-skills-group .process-container {
  flex: 0 0 70px;
  height: 0.6rem;
  background: #E8E8EA;
  border: 1px solid #152437;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
.container .a4-page .right-column .professional-skills .professional-skills-container .personal-skills-wrapper .personal-skills-group .process-container .process-bar, .container .a4-page .right-column .pronciency .professional-skills-container .personal-skills-wrapper .personal-skills-group .process-container .process-bar {
  height: 0.6rem;
  background: #152437;
}

/*# sourceMappingURL=style.css.map */
